body{
  background-color: rgb(222, 234, 246);
  background-attachment: fixed;
 background-size: cover;
  background-repeat: no-repeat;
 height: 85%;
}
@media screen and (min-width: 480px) {
  .Heading{
    margin-left:3%;
    font-family:Alegreya;
    text-align:left;
    position:relative;
    font-size:52px;
}
.SubTitle{
  margin-left:3%;
  font-size:32px;
  font-weight:lighter;
}
.Button{
  width:150px;
  display: flex;
  justify-content: space-between;
}
.HImg{
  width: 450px;
}
  .Dheading{
  padding-bottom: 5%;
  padding-top:5%;
 height: 85%;
display: flex;
justify-content: space-around ;
}
.About{
  font-family: 'Ubuntu', sans-serif;
  }
  .AContent{
    display: flex;
  }
  .AP{
    margin-top: 10%;
    width: 55%;
    font-size: 24px;
    padding-bottom: 5%;
    margin-left: 5%;
}
.Gays{
  height: 400px;
  margin-top: 100px;
  }
  h2{
    padding-top:5%;
    padding-bottom:0%;
    text-align: center;
    font-family: "Alegreya";
    /* font-style:"italic"; */
     font-size:42px;
    color: rgb(42, 48, 61);
  
  }
  .ServiceImg{
    width: 450px;
    
  }
  
  .ServiceImg2{
    width: 450px; 
  }
  .Servicediv{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
  }

  .PContent{
    width: 50%;
  }
  .Audit{
    padding-left: 5%;
  
  }
  .AdC{
    display: flex;
  }
  .ppcp{
    width: 55%;
  padding-bottom: 5%;
  font-size: 18px;
  }
  .AuditImg{
    width: 450px;
  }
  .Ocontent{
    display: flex;
  justify-content: space-around;
  }
  .OImg{
    width: 450px;
  }
  .ListingP{
    width: 55%;
    padding-bottom: 5%;
    font-size: 24px;
  }
  .p{
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
   }
   .ContactP img{
    margin: 0px 10%;
  }
  .BarButton{
    display: inline-flex;
  }
  .Icon{
   display: none;
    visibility: hidden;
  }
}
@media (max-width: 678px){
  .innerdetails{
    margin: 0px 20px;
  }
  .Heading{
  margin-left:3%;
    font-family: "Alegreya";
    text-align:left;
    position:relative;
    font-size:30px;
    width: 85%;    
}
.Dheading{
  padding-bottom: 15%;
  padding-top:5%;
 height: 85%;

}
.SubTitle{
  margin-left: 3%;
  font-size: 24px;
  font-weight: lighter;  
  }
 .Button{
    width:110px;
    height: 30px;
    margin-left:3%;
 } 
 .BFS{
   font-size: 11px;
 }
 .HImg{
   width: 300px;
   margin-top: 30px;
   margin-left: 40px;
 }
 .AContent{
  display: block;
  width: 100%;
}
.AP{
  margin-top: 10%;
  width: 95%;
  font-size: 20px;
  padding-bottom: 0%;
  margin-left: 5%;
}
.Gays{
  height: 250px;
  margin-top: 50px;
  margin-left: 20px;
}
h2{
  padding-top:5%;
  padding-bottom:0%;
  text-align: center;
  font-family: "Alegreya";
  /* font-style:"italic"; */
   font-size:42px;
  color: rgb(42, 48, 61);
}
.ServiceImg{
  margin-left: 20px;
  width: 250px; 
}
.ServiceImg2{
  width: 250px;
  display: none; 
}
.Servicediv{
  padding-top: 100px;
  display: block;
  /* text-align: center; */
}
.Servicediv li{
  margin-left: -15px;
}
.PContent{
  width: 100%;
}
.AdC{
  display: block;
}
.ppcp{
  width: 100%;
padding-bottom: 5%;
font-size: 18px;
}
.AuditImg{
  width: 250px;
}
.Ocontent{
  display:block;
}
.OImg{
  width: 250px;
}
.ListingP{
  width: 100%;
  padding-bottom: 0%;
  font-size: 24px;
}
.p{
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
 }

 .ContactP img{
  margin: 0px 7%;
}
.BarButton{
  display: none;
}
.Icon{
  display: inline-flex;
}
}

.footer{
  color: rgb(234, 237, 240);
  background-color: rgb(90, 49, 95);
  text-align: center;
  padding-top:1.25%;
  padding-bottom:1.25%;
  width: 100%;} 

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.Services{
width: 100%;
height: 100%;
font-weight: bold;
padding-bottom: 5%;
font-family: 'Ubuntu', sans-serif;
padding-left: 5%;
font-size: 18px;
}
.ContactP{
  text-align: center;
}
a{
  text-decoration: none;
}